[submodule "libraries/i2cdevlib"]
	path = libraries/i2cdevlib
	url = https://github.com/jrowberg/i2cdevlib/
[submodule "libraries/SD"]
	path = libraries/SD
	url = https://github.com/arduino-libraries/SD.git
[submodule "libraries/UBLOX"]
	path = libraries/UBLOX
	url = https://github.com/monoxide13/UBLOX
[submodule "libraries/ArduinoCore-samd"]
	path = libraries/ArduinoCore-samd
	url = https://github.com/adafruit/ArduinoCore-samd.git
[submodule "libraries/ArduinoModule-CMSIS-Atmel"]
	path = libraries/ArduinoModule-CMSIS-Atmel
	url = https://github.com/arduino/ArduinoModule-CMSIS-Atmel.git
[submodule "libraries/CMSIS_5"]
	path = libraries/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "libraries/HC12"]
	path = libraries/HC12
	url = https://github.com/monoxide13/HC12.git
[submodule "libraries/Adafruit_GPS"]
	path = libraries/Adafruit_GPS
	url = https://github.com/adafruit/Adafruit_GPS/
