# Prerequisites
*.d

# Compiled Object files
RocketTele/obj/
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
RocketTele/bin/
*.exe
*.out
*.app
*.bin
*.elf
*.map

# Specific Includes
!RocketTele/obj/empty
!RocketTele/bin/empty
